.exp-wrap{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    padding: 20px;
    width: 749px;
    background-color: #FEF6E9;
    color: #875B13;
    font: 400 14px/20px 'Klein Web';
    letter-spacing: .25px;
    margin-top: 16px;
    }
    .exp-cta{
    text-decoration: underline;
    margin-top: 16px;
    font-weight: 600;
    }
    .exp-cta:hover{cursor: pointer;}
    .exp-title-msg{
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
    color: #8C4F00;
    margin-bottom: 4px;
    }
    [data-testid="filledWishlist-sign-in-pvh-button"]{
    height: 0 !important;
    padding: 0 !important;
    border: none;
    }
    @media (max-width: 767px){
    .exp-wrap{width: fit-content;}
    }