[class*="SelectionItem_titleTextWrapper__"]{
    flex-direction: column !important;
    align-items: flex-start !important;
    }
    [class*=SelectionItem_Info__]{ order: 1 !important; }
    .exp-show-text span{
        font-size: 13px;
        font-family: 'Futura Std';
        font-weight: 400;
        line-height: 18px;
        color: #5A5C66;
    }
    