.exp-box{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    padding: 12px 20px;
    background: #FAE7EA;
    margin: 12px 0 0;
    }
    .exp-icon{ display: flex; }
    .exp-text{
    font-family: 'Klein Web';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #710000;
    }