.exp-bar{
    z-index: 102;
    position: fixed;
    right: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 14px;
    background: rgba(0, 23, 79, 0.2);
    border-radius: 12px;
    height: 100%;
    padding: 6px 0;  
    }
    .exp-dot{ 
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    transition: all .3s ease-in-out;
    }
    .activeDot{
    height: 48px;
    background-color: #00174F; 
    transition: all .3s ease-in-out;  
    }
    .activeDotWhite{background-color: #fff;}