.exp-text{
    font-family: 'Klein Web';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .25px;
    color: #666666;
    padding: 8px 0px 0px 12px;
    }
    .AdyenComponent_AdyenComponent__lgp4z .adyen-checkout__field-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--input-col-1-2-spacing-left);
    }
    .AdyenComponent_AdyenComponent__lgp4z .adyen-checkout__field--50 { width: 100%;}
    .adyen-checkout__field--securityCode .adyen-checkout__input-wrapper{
    border-left: solid 1px #e4e4e4;
    border-left-width: thin !important;
    }